<div class="container content">
   <h1 class="d-flex justify-content-center">Your Apps</h1>

   <div class="row justify-content-center mt-4">
      <% @dev.apps.each do |app| %>
         <div class="card bg-light mb-3 col-12" style="max-width: 20rem; margin: 5px">
            <%= link_to show_app_path(app.id), class: "no-link-deco" do %>
               <div class="card-body row">
                  <h4 class="card-title mx-auto my-2"><%= app.name %></h4>
               </div>
            <% end %>
         </div>
      <% end %>

      <div class="card bg-light mb-3 col-12" style="max-width: 20rem; margin: 5px" data-toggle="modal" data-target="#create-app-modal">
         <div class="card-body row">
            <h2 class="card-title mx-auto">+</h2>
         </div>
      </div>
   </div>

   <div class="d-flex justify-content-center">
      <%= link_to "General information", show_general_path, class: "btn btn-secondary mt-3" %>
   </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="create-app-modal">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      	<div class="modal-header">
        		<h5 class="modal-title">Create new App</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        		</button>
			</div>
			<%= form_tag(dev_path, class: "form-horizontal", method: "post", role: "form") do |f| %>
      		<div class="modal-body">
					<div class="form-group col-10 offset-1">
						<%= label_tag :name, "Name", class: "col-sm-2 col-form-label" %>
						<div class="col-sm-10">
							<%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %>
						</div>
               </div>
               <div class="form-group col-10 offset-1">
                  <%= label_tag :description, "Description", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                     <%= text_field_tag :description, nil, class: "form-control", placeholder: "Description" %>
                  </div>
               </div>
      		</div>
				<div class="modal-footer">
					<%= submit_tag("Create", class: "btn btn-primary") %>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			<% end %>
    	</div>
  	</div>
</div>