<div class="container content">
   <h1 class="text-center">
		<%= link_to show_app_path(params[:id]), class: "btn", style: "background-color: transparent; color: black" do %>
			<%= fa_icon "arrow-left", style: "font-size: 20px;" %>
		<% end %>
		<%= @event.name %>
	</h1>

   <%= area_chart @sorted_date_logs %>
	<%= geo_chart @countries %>

	<div class="row d-flex justify-content-center">
		<% if @browser_with_version %>
			<div class="my-5">
				<h3 class="text-center">Browser with version</h3>
				<%= pie_chart @browser_with_version %>
			</div>
		<% end %>

		<% if @browser_without_version %>
			<div class="my-5">
				<h3 class="text-center">Browser</h3>
				<%= pie_chart @browser_without_version %>
			</div>
		<% end %>

		<% if @os_with_version %>
			<div class="my-5">
				<h3 class="text-center">Operating systems with version</h3>
				<%= pie_chart @os_with_version %>
			</div>
		<% end %>

		<% if @os_without_version %>
			<div class="my-5">
				<h3 class="text-center">Operating systems</h3>
				<%= pie_chart @os_without_version %>
			</div>
		<% end %>

		<% if @chrome_versions %>
			<div class="my-5">
				<h3 class="text-center">Chrome versions</h3>
				<%= pie_chart @chrome_versions %>
			</div>
		<% end %>

		<% if @firefox_versions %>
			<div class="my-5">
				<h3 class="text-center">Firefox versions</h3>
				<%= pie_chart @firefox_versions %>
			</div>
		<% end %>

		<% if @edge_versions %>
			<div class="my-5">
				<h3 class="text-center">Microsoft Edge versions</h3>
				<%= pie_chart @edge_versions %>
			</div>
		<% end %>

		<% if @windows_versions %>
			<div class="my-5">
				<h3 class="text-center">Windows versions</h3>
				<%= pie_chart @windows_versions %>
			</div>
		<% end %>

		<% if @android_versions %>
			<div class="my-5">
				<h3 class="text-center">Android versions</h3>
				<%= pie_chart @android_versions %>
			</div>
		<% end %>
	</div>

   <div class="row mt-4">
		<div class="col-4">
			<h5>Sort by</h5>
			<div class="list-group mt-4">
				<%= link_to "Hour", show_event_path(params[:id], params[:name], sort_by: "hour", period: params[:period]), class: "list-group-item list-group-item-action" %>
				<%= link_to "Day", show_event_path(params[:id], params[:name], sort_by: "day", period: params[:period]), class: "list-group-item list-group-item-action" %>
				<%= link_to "Month", show_event_path(params[:id], params[:name], sort_by: "month", period: params[:period]), class: "list-group-item list-group-item-action" %>
				<%= link_to "Year", show_event_path(params[:id], params[:name], sort_by: "year", period: params[:period]), class: "list-group-item list-group-item-action" %>
			</div>
		</div>

		<div class="col-6 offset-2">
			<h5>Period</h5>
			<%= form_tag(show_event_path, class: "form-horizontal mt-4", method: "post", role: "form") do |f| %>
				<div class="form-group row">
					<div class="col-6">
						<%= number_field_tag :period, nil, class: "form-control" %>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-6">
						<%= select_tag :period_format, options_for_select(['Hours', 'Days', 'Weeks', 'Months', 'Years'], 'Weeks') %>
						<br>
						<%= hidden_field_tag :sort_by, params[:sort_by] %>
						<%= submit_tag("Update", class: "btn btn-primary btn-md mt-4") %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>