<div class="content container mt-4">
   <h1 align="center">Log in</h1>
   <%= render 'layouts/messages' %>

	<%= form_tag(login_session_path, class: "form-horizontal mt-4", method: "post", role: "form") do |f| %>
		<!-- Email field -->
		<div class="form-group row col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
			<%= label_tag :email, "Email", class: "col-sm-2 col-form-label" %>
			<div class="col-sm-10">
				<%= email_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
			</div>
		</div>

		<!-- Password field -->
		<div class="form-group row col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
			<%= label_tag :password, "Password", class: "col-sm-2 col-form-label" %>
			<div class="col-sm-10">
				<%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
				<%= submit_tag("Log in", class: "btn btn-primary btn-md mt-3") %>
				<%= link_to "Sign up", signup_path(redirect_url: session[:redirect_url], app_id: session[:app_id], api_key: session[:api_key]), class: "btn btn-secondary btn-md mt-3", style: "float: right;" %>
			</div>
		</div>
	<% end %>
</div>