<div class="content container">
   <h1 align="center">Reset your password</h1>
   <p align="center">Enter the email address of your account.</p>
   <%= render 'layouts/messages' %>

   <%= form_tag(password_reset_path, class: "form-horizontal row mt-4", method: "post", role: "form") do |f| %>
      <div class="form-group row col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
         <%= label_tag :email, "Email", class: "col-sm-2 col-form-label" %>
         <div class="col-sm-10">
            <%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter your email" %>
            <%= submit_tag("Send", class: "btn btn-primary btn-md mt-3") %>
         </div>
      </div>
   <% end %>
</div>