<div id="sidr">
   <ul>
      <li><%= link_to "General", "", class: "text-dark" %></li>
      <li><%= link_to "Plans", "#plans", class: "text-dark" %></li>
      <li><%= link_to "Apps", "#apps", class: "text-dark" %></li>
   </ul>
</div>

<div class="content row">
   <div class="col-sm-12 col-lg-2" id="sidebar-content">
      <ul class="list-group ml-3 mt-5">
         <%= link_to "General", "", class: "list-group-item list-group-item-action", id: "main-sidebar-entry" %>
         <%= link_to "Plans", "#plans", class: "list-group-item list-group-item-action", id: "plans-sidebar-entry" %>
         <%= link_to "Apps", "#apps", class: "list-group-item list-group-item-action", id: "apps-sidebar-entry" %>
      </ul>
   </div>
   <div class="col-sm-12 col-lg-8">
      <div class="btn btn-light ml-2" id="toggle-button">
         <%= fa_icon "ellipsis-h", style: "font-size: 20px;" %>
      </div>

      <div class="container mt-3">
         <div id="main-menu">
            <h1 align="center">General Settings</h1>
            <%= render 'layouts/messages' %>

            <%= form_tag(user_path, class: "form-horizontal mt-3", method: "post", role: "form", multipart: true) do |f| %>
               <div class="form-group" align="center">
                  <%= image_tag(ENV["DAV_BLOB_STORAGE_BASE_URL"] + @user.id.to_s + ".png", :alt => "Avatar", :height => "150px", class: "img", align: "center") %><br>
                  <%= file_field_tag :avatar, :accept => 'image/jpeg,image/png' %>
                  <%= submit_tag("Update", class: "btn btn-primary btn-md mt-3") %>
               </div>
            <% end %>

            <%= form_tag(user_path, class: "form-horizontal row mt-3", method: "post", role: "form") do |f| %>
               <div class="form-group row col-10 offset-1 col-lg-8 offset-lg-2">
                  <%= label_tag :username, "Username", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                     <%= text_field_tag :username, @user.username, class: "form-control", placeholder: "Your Username" %>
                     <%= submit_tag("Update", class: "btn btn-primary btn-md mt-3") %>
                  </div>
               </div>
            <% end %>

            <%= form_tag(user_path, class: "form-horizontal row mt-3", method: "post", role: "form") do |f| %>
               <div class="form-group row col-10 offset-1 col-lg-8 offset-lg-2">
                  <%= label_tag :email, "Email", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                     <%= email_field_tag :email, @user.email, class: "form-control", placeholder: "Your Email" %>
                     <%= submit_tag("Update", class: "btn btn-primary btn-md mt-3") %>
                  </div>
               </div>
            <% end %>

            <%= form_tag(user_path, class: "form-horizontal row mt-5", method: "post", role: "form") do |f| %>
               <div class="form-group row col-10 offset-1 col-lg-8 offset-lg-2">
                  <%= label_tag :password, "New Password", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                     <%= password_field_tag :password, nil, class: "form-control", placeholder: "New Password" %>
                  </div>
               </div>
               <div class="form-group row col-10 offset-1 col-lg-8 offset-lg-2">
                  <%= label_tag :password_confirmation, "Password Confirmation", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                     <%= password_field_tag :password_confirmation, nil, class: "form-control", placeholder: "Confirm your new password" %>
                     <%= submit_tag("Update", class: "btn btn-primary btn-md mt-3") %>
                     <%= link_to "Delete account", "#delete-account-modal", :class => "btn btn-danger mt-3", "data-toggle" => "modal", style: "float: right;" %>
                  </div>
               </div>
            <% end %>
         </div>

         <div id="plans-menu">
            <h1 align="center">Plans</h1>
            <%= render 'layouts/messages' %>

            <div class="row">
               <div class="col-12 offset-1">
                  <h5>Your current plan: <%= @user.plan == 0 ? "Free" : "Plus" %></h5>
                  <%= hidden_field_tag :plan, @user.plan %>

                  <%= link_to "Change your plan", "#change-plan-modal", :class => "btn btn-primary", "data-toggle" => "modal" %>
               </div>
            </div>

            <div class="row mt-4">
               <div class="col-sm-5 offset-1 mt-3">
                  <div class="card text-center">
                     <div class="card-header">
                        Free
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">Free</h4>
                        <p class="card-text">
                           <ul class="list-group">
                              <li class="list-group-item">Use all dav apps</li>
                              <li class="list-group-item">Synchronize your data across an unlimited amount of devices</li>
                              <li class="list-group-item">No ads</li>
                           </ul>
                        </p>
                     </div>
                  </div>
               </div>

               <div class="col-sm-5 offset-1 mt-3">
                  <div class="card text-center">
                     <div class="card-header">
                        $3 per month
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">Plus</h4>
                        <p class="card-text">
                           <ul class="list-group">
                              <li class="list-group-item">All free features</li>
                              <li class="list-group-item">Use all Plus features in every app</li>
                           </ul>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div id="apps-menu">
            <h1 align="center" class="mb-3">Your Apps</h1>
            <%= render 'layouts/messages' %>

            <% if @user.apps.length == 0 %>
               <div class="jumbotron mt-3" style="background: #f4f4f4; padding: 35px;">
                  <p class="lead">You're not using any app right now. Check out the All Apps page to find your first app!</p>
                  <p class="lead">
                     <%= link_to "Find apps", apps_path, class: "btn btn-primary btn-lg" %>
                  </p>
               </div>
            <% end %>

            <div class="list-group">
               <% @user.apps.each do |app| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <h4><%= app.name %></h4>
                     <%= link_to "Remove", "#delete-app-data-modal-#{app.id}", :class => "btn btn-danger", "data-toggle" => "modal" %>
                  </li>

                  <div class="modal fade" id="delete-app-data-modal-<%= app.id %>" tabindex="-1" role="dialog">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title">Remove App</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <p>Are you sure you want to remove the app "<%= app.name %>" from your account? All your app data will be erased.</p>
                           </div>
                           <div class="modal-footer">
                              <%= button_to 'Delete', {:controller => "users", :action => "update", :app_id => app.id}, :method=>:post, class: "btn btn-danger" %>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                           </div>
                        </div>
                     </div>
                  </div>

               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="change-plan-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Change your plan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body row">
            <div class="col-4">
               <%= form_tag(user_path, class: "form-horizontal row mt-4", method: "post", role: "form") do |f| %>
                  <div class="form-group col-10 offset-1">
                     <label for="select-plan">Choose your plan</label>
                     <select class="form-control" id="select-plan">
                        <option>Free</option>
                        <option>Plus</option>
                     </select>
                  </div>
                  <div class="form-group col-10 offset-1" id="payment-form">
                     <p>Credit card form</p>
                  </div>
               <% end %>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary disabled" id="update-button">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Deleting your account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you absolutely sure that you want to delete your account? There is no way to undo that.</p>
         </div>
         <div class="modal-footer">
         <%= button_to 'Delete account', {:controller => "users", :action => "update", :delete_account => true}, :method=>:post, class: "btn btn-danger" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<%= javascript_include_tag "scripts/user.js" %>