<% if session[:jwt] %>

<div class="container content">
	<h1 align="center">Your apps</h1>
	<%= render 'layouts/messages' %>

	<div class="card-group mt-4">
		<% @user.apps.each do |app| %>
			<%= render 'shared/app-card', app: app %>
		<% end %>
	</div>
	
	<% if @user.apps.length == 0 %>
		<div class="jumbotron">
			<h1 class="display-4">Hi, <%= @user.username %></h1>
			<p class="lead">You're not using any app right now. Check out the All Apps page to find your first app!</p>
			<p class="lead">
				<%= link_to "Find apps", apps_path, class: "btn btn-primary btn-lg" %>
			</p>
		</div>
	<% end %>
</div>

<% else %>

<div class="container-fluid" style="padding: 0px" onresize="resize()">
	<div id="start-header" class="d-flex parallax">
		<div class="acrylic align-self-center" style="margin-left: 50px; padding: 20px; width: 300px; color: white;">
			<h4>dav is a new platform of connected services</h4>
		</div>
	</div>
	<div style="height: 50000px">
	</div>
</div>

<script>
	resize = function(){
		document.getElementById("start-header").setAttribute("style", "height: " + window.outerHeight * 0.7 + "px;");
	}

	window.addEventListener('resize', resize);
	resize();
</script>

<%= javascript_include_tag "scripts/fluent.js" %>

<% end %>