<% if session[:jwt] %>

<div class="container content">
	<h1 align="center">Your apps</h1>
	<%= render 'layouts/messages' %>

	<div class="card-group mt-4">
		<% @user.apps.each do |app| %>
			<%= render 'shared/app-card', app: app %>
		<% end %>
	</div>
	
	<% if @user.apps.length == 0 %>
		<div class="jumbotron">
			<h1 class="display-4">Hi, <%= @user.username %></h1>
			<p class="lead">You're not using any app right now. Check out the All Apps page to find your first app!</p>
			<p class="lead">
				<%= link_to "Find apps", apps_path, class: "btn btn-primary btn-lg" %>
			</p>
		</div>
	<% end %>
</div>

<% else %>

<div class="container-fluid" style="padding: 0px" onresize="resize()">
	<div id="start-header" class="d-flex parallax">
		<div id="start-header-text" class="acrylic align-self-center">
			<h4>dav is a new platform of connected services</h4>
		</div>
	</div>
	<div id="start-calendo">
		<div id="start-calendo-header" class="row" style="width: 100%; margin: 0px">
			<div class="col-12 col-md-6" style="height: 200px; width: 100%; background-color: efefef;">
				<h2 class="mt-3 text-center">Calendo</h2>
				<p>Calendo is a simple app for the organisation of your life. Have always the overview of your todos and appointments.</p>
				<p>You can create todos, todo lists and appointments.</p>
			</div>
			<div class="col-12 col-md-6 d-flex" style="width: 100%; background-color: #efefef">
				<div class="mx-auto my-5 shadow">
					<%= image_tag "CalendoScreenshot.png", id: "start-calendo-screenshot" %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	resize = function(){
		document.getElementById("start-header").setAttribute("style", "height: " + window.innerHeight * 0.7 + "px;");
		document.getElementById("start-header-text").setAttribute("style", "margin-left: " + window.innerWidth * 0.1 + "px; padding: 20px; width: 300px; color: white;");
		document.getElementById("start-calendo-screenshot").setAttribute("width", window.innerWidth * 0.3);
	}

	window.addEventListener('resize', resize);
	resize();
</script>

<%= javascript_include_tag "scripts/fluent.js" %>

<% end %>