<% if session[:jwt] %>

<div class="container content">
	<h1 align="center">Your apps</h1>
	<%= render 'layouts/messages' %>

	<div class="card-group mt-4">
		<% @user.apps.each do |app| %>
			<%= render 'shared/app-card', app: app %>
		<% end %>
	</div>
	
	<% if @user.apps.length == 0 %>
		<div class="jumbotron">
			<h1 class="display-4">Hi, <%= @user.username %></h1>
			<p class="lead">You're not using any app right now. Check out the All Apps page to find your first app!</p>
			<p class="lead">
				<%= link_to "Find apps", apps_path, class: "btn btn-primary btn-lg" %>
			</p>
		</div>
	<% end %>
</div>

<% else %>

<div class="container-fluid" id="start-section-1">
	<div class="content">

		<%= render 'layouts/messages' %>
		
		<div class="row">
			<div class="col-12 offset-1 col-md-8 offset-md-3 col-sm-12">
				<h2 id="start-text-1">Find the apps for your needs</h2>
				<%= link_to "Sign up", signup_path, class: "btn btn-secondary mt-2" %>
				<%= link_to "Find Apps", apps_path, class: "btn btn-primary mt-2" %>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" id="start-section-2">
	<div class="row">
		<div class="col-md-6 col-sm-12" align="center">
			<%= image_tag("zeichnung.png", :height => "150px", :id => "image-zeichnung") %>
		</div>
		<div class="col-md-6 col-sm-12 start-description" id="start-description-1" align="center">
			<h2>Anything in one place</h2>
			<p>Synchronize your data across all devices</p>
		</div>
	</div>
</div>
<div class="container-fluid" id="start-section-3">
	<div class="row">
		<div class="col-md-6 col-sm-12 start-description" align="center">
			<h2>Platform independent</h2>
			<p>Our apps work on the most common platforms</p>
		</div>
		<div class="col-md-6 col-sm-12" align="center">
			<%= fa_icon "android", style: "font-size: 70px; color: #535254", class: "m-2" %>
			<%= fa_icon "windows", style: "font-size: 70px; color: #535254", class: "m-2" %>
			<%= fa_icon "globe", style: "font-size: 70px; color: #535254", class: "m-2" %>
		</div>
	</div>
</div>
<div class="container-fluid" id="start-section-4">
	<div class="row">
		<div class="col-md-6 col-sm-12" align="center">
			<%= fa_icon "user-secret", style: "font-size: 90px; color: #535254", class: "m-2" %>
		</div>
		<div class="col-md-6 col-sm-12 start-description" align="center">
			<h2>Privacy matters</h2>
			<p>We will never track you and sell your personal data</p>
		</div>
	</div>
</div>
<div class="container-fluid" id="start-section-5">
	<div class="row">
		<div class="col-10 offset-1 start-description" align="center">
			<h3>Convinced?</h3>
			<p>Try it out for free</p>
			<%= link_to "Sign up", signup_path, class: "btn btn-secondary mt-2" %>
			<%= link_to "Find Apps", apps_path, class: "btn btn-primary mt-2" %>
		</div>
	</div>
</div>

<%= javascript_include_tag "scripts/start.js" %>

<% end %>