<div class="container">
   <footer class="footer">
      <small>
         Copyright &copy; 2019 by dav.
         All rights reserved
      </small>
      <nav>
         <ul>
            <li><%= link_to "Blog", "https://blog.dav-apps.tech", target: "blank", style: "color: black" %></li>
            <li><%= link_to "Twitter", "https://www.twitter.com/dav_apps", target: "blank", style: "color: black" %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
            <li><%= link_to "v#{ENV['VERSION_NUMBER']}", "https://github.com/Dav2070/dav-apps/releases", target: "blank", style: "color: black" %></li>
         </ul>
      </nav>
   </footer>
</div>