<!DOCTYPE html>
<html>
  	<head>
		<title>dav</title>
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
    	<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="google-site-verification" content="fFIzOijbIKAX0tm6IeBrqmSzIrrsD5q6kmnVbcdLpc8" />

    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
		<%= javascript_include_tag "//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js" %>
		<%= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.light.min.css" %>
  	</head>

	<body>
		<%= render 'layouts/navbar' if show_navbar_and_footer(controller_name, action_name, params) %>
		<%= yield %>
		<%= render 'layouts/footer' if show_navbar_and_footer(controller_name, action_name, params) %>

		<% log_visit %>
		<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script> 
		<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
  	</body>
</html>