<!DOCTYPE html>
<html>
  	<head>
    	<title>dav</title>
    	<%= csrf_meta_tags %>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<% if params[:controller] == "users" %>
			<script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
			<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.light.min.css">
		<% end %>
  	</head>

  	<body>
	  	<%= render 'layouts/navbar' if !current_page?(action: 'login_implicit', controller: 'users') %>
		<%= yield %>
		<%= render 'layouts/footer' if !current_page?(action: 'login_implicit', controller: 'users') %>
  	</body>
</html>