<!DOCTYPE html>
<html>
  	<head>
		<title>dav</title>
		<link rel='icon' type='image/png' href='/favicon.png' />
    	<%= csrf_meta_tags %>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
		<%= javascript_include_tag "//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js" %>
		<%= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.light.min.css" %>
  	</head>

	<body>
		<%= render 'layouts/navbar' if !current_page?(action: 'login_implicit', controller: 'users') %>
		<%= yield %>
		<%= render 'layouts/footer' if !current_page?(action: 'login_implicit', controller: 'users') %>

		<% log_visit %>
  	</body>
</html>